# ==================================
# QGIS Backup & Temporary Files
# ==================================

*.qgs~
*.qgz~
*.qgd
*.scpx.backup

# ==================================
# Raster Auxiliary Files
# ==================================

*.aux.xml
*.ovr

# ==================================
# Raw Dataset (stored on Google Drive)
# ==================================

Raw Data/


# ==================================
# Operating System Files
# ==================================

Thumbs.db
desktop.ini
.DS_Store